<h1>Bienvenido {{usuario}}</h1><button><a href="/logout">logout</a></button>
<br>
<h2>Ingresa un producto</h2>
<br>
<form id="productsForm">
    <label>Producto:</label>
    <input name="title">
    <label>Precio:</label>
    <input name="price">
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <input type="submit">
</form>
<hr />
<div id="history">No hay productos</div>
<hr />
<h2>Historial de mensajes</h2>
<form id="chatForm">
    <div id="chatHistory">No hay mensajes para mostrar</div>
    <input name="email" placeholder="email">
    <input name="message" placeholder="mensaje">
    <input type="submit">
</form>